body {
  font-family: 'Verdana', sans-serif;
  background-color: #f0f0f0;
}

#urlInput, #loadButton {
  padding: 10px;
  margin: 5px;
  font-size: 18px;
}

#loadButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#loadButton:hover {
  background-color: #45a049;
}

#clock {
  font-size: 24px;
  color: #ff9900;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 40px;
}
